Options +SymLinksIfOwnerMatch
RewriteEngine On

# Allow Installatron requests
RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
RewriteRule (.*) - [L] 

RewriteRule ^ index.php [L]
 RewriteCond %{HTTP_HOST} ^muhammadyama.com$ [NC,OR]
  RewriteCond %{HTTP_HOST} ^www.muhammadyama.com$
  RewriteCond %{REQUEST_URI} !public_html/public/
  RewriteRule (.*) /public_html/public/$1 [L]